<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Spring Project HomePage</title>
</head>
<body>

    <h2>Spring Project HomePage - v2</h2>
    <hr>
    <p>
    Welcome to the Spring Project HomePage!
    </p>

    <hr>

    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role: <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>

    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for manager peeps)
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT Systems Meeting</a>
            (Only for admin peeps)
        </p>
    </div>

    <hr>
    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}" method="POST">

        <input type="submit" value="Logout" />

    </form>

</body>
</html>